BOT_TOKEN=PASTE_YOUR_BOT_TOKEN_HERE
ADMIN_IDS=123456789
WHATSAPP_NUMBER=918920803981
STORE_NAME=Premium On Budget
COMMUNITY_LINK=https://t.me/+DICtE_XZN40wMTBl
UPI_ID=yourupi@bank
BANK_DETAILS=Bank Name: XXXX\nAccount Name: XXXX\nAccount No: XXXX\nIFSC: XXXX
CRYPTO_DETAILS=USDT TRC20: YOUR_WALLET_ADDRESS
GIFT_CARD_DETAILS=Accepted: Amazon/Flipkart/Google Play Gift Cards
